<section class="about-staff">
  {% if site.staff %}
    {% assign staffers = site.staff %}
    <div class="staff">
    {% for staffer in staffers %}
      <div class="staff-member">
        <p>{{ staffer.name }}, {{ staffer.position }}</p>
        {% if staffer.email %}
          <span><a href="mailto:{{ staffer.email }}">Email</a></span>
        {% endif %}
        {% if staffer.telephone %}
          <span><a href="tel:{{ staffer.telephone }}">Office</a></span>
        {% endif %}
      </div>
    {% endfor %}
    </div>
  {% endif %}
</section>
