---
---
$darkish: #080809
$blueish: rgb(23, 74, 156)
$reddish: rgb(200, 50, 50)
$lightish: rgb(250,250,250)
$lightish_trans: rgba(250, 250, 250, 80%)
$footer_font_color: $lightish
$footer_bg: $blueish
$main_bg: #f5deb3
$nav_bg: #666666
$link_color: rgb(31, 155, 196)
$author_bg: rgba(227, 242, 243, .75)
$title_font: 'courier new', monospace
$body_font: 'courier new', monospace
$menu_font: 'Arial', 'Helvetica', sans-serif

@import fonts
@import breakpoints

html
  width: 100%
  height: 100%
  margin: 0

body
  background-color: $lightish
  width: 100%
  height: 100%
  margin: 0
  display: flex
  flex-flow: column nowrap
  color: $darkish
  font-weight: bold
  a
    transition: transform .2s
    &:hover
      transform: scale(1.1)
      text-decoration: none
  header
    background-color: $lightish
    box-shadow: 0px 1px 30px -10px #000
    z-index: 10
    height: 100px
    .wrapper
      max-width: calc(1000px - (30px * 2))
      height: 100%
      display: flex
      justify-content: space-between
      .site-title
        display: flex
        align-items: center
    &.site-header
      align-items: center
      position: fixed
      width: 100%
      background: rgba(255, 255, 255, 0.9)
      .page-link
        color: $blueish
        font-family: $font_prompt
    @include breakpoint(desktop)
      .site-nav
        display: flex
        align-items: center
        .trigger
          height: 100%
          display: flex
          .menu-link
            align-items: center
            display: flex
            justify-content: space-evenly
            margin: 0 15px
  main
    z-index: 9
    flex: 1 0 auto
    height: 100%
    box-shadow: 0px 1px 30px 0px #000
    &.home
      @include breakpoint(mobile)
        padding-top: 80px
      @include breakpoint(desktop)
        margin-top: -20px
    &.page
      padding-top: 200px
    #breadcrumbs
      font-size: 75%
      letter-spacing: 3px
      font-family: $font_prompt
      text-transform: uppercase
    .static-page
      border-radius: 12px
      background: $lightish
    h2
      text-align: right
      background: $lightish_trans
      font-family: $font_yantramanav
      color: $blueish
      position: absolute
      top: 120px
      right: 0px
      z-index: 100
      padding: 5px 25px
      border-radius: 15px 0px 0px 15px
      @include breakpoint(desktop)
        font-size: 250%
        top: 200px
        padding: 10px 100px
    .slideshow
      .slide
        width: 100%
        height: 100%
        .caption
          background: $lightish_trans
          font-family: $font_yantramanav
          position: absolute
          padding: 5px 15px
          top: 113px
          z-index: 99
          border-radius: 0px 15px 15px 0px
          @include breakpoint(desktop)
            top: 555px
            padding: 10px 50px
    article
      border: 2px solid $blueish
      padding: 30px
      margin-top: 30px
      .product-container
        padding: 10px 0
        .product-name
          text-align: center
        .product-tds, .product-sds
          display: inline-table
          padding: 5px 50px
  footer
    z-index: 8
    order: 3
    flex-shrink: 0
    background: right 5% no-repeat $blueish url(../img/wireframe-globe-33.png)
    .wrapper
      max-width: 90%
    color: $lightish
    h4, ul, p
      color: $lightish
    ul
      list-style: none
      i
        padding-right: 2%
        margin-left: -4%
    .footer-col-wrapper
      display: flex
      justify-content: flex-start
      align-items: stretch
      .footer-col-1
        padding: 30px 0
        flex-grow: 0.5
        width: 15%
      .footer-col-2
        padding: 30px 0
        flex-grow: 2

.site-footer
  padding: 0
