---
---
$darkish: #080809
$reddish: rgb(200, 50, 50)
$lightish: rgb(250,250,250)
$footer_font_color: $lightish
$footer_bg: $reddish
$main_bg: #f5deb3
$nav_bg: #666666
$author_bg: rgba(227, 242, 243, .75)
$title_font: 'courier new', monospace
$body_font: 'courier new', monospace
$menu_font: 'Arial', 'Helvetica', sans-serif

html
  width: 100%
  margin: 0

header
  background-color: $lightish

body
  background-color: $lightish
  width: 100%
  margin: 0
  display: flex
  flex-flow: column nowrap
  color: $darkish
  font-weight: bold

nav.site-nav
  a:hover
    color: $reddish

footer
  .wrapper
    max-width: 80%
  order: 3
  background: right 5% no-repeat $reddish url(../img/wireframe-globe.png)
  color: $lightish
  h4, ul, p
    color: $lightish
  ul
    list-style: none
    i
      padding-right: 2%
      margin-left: -4%
  .footer-col-wrapper
    display: flex
    justify-content: flex-start
    align-items: stretch
    .footer-col-2
      flex-grow: 2
