<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main aria-label="Content" class="home">
      <div class="home-wrapper">
        {% include slideshow.html
          title="Markets We Serve"
          collection="markets"
          %}
        <section class="distributed-products">
          <h3>Products We Distribute</h3>
          {% assign suppliers = site.suppliers | map: "uuid" %}
          {% for supplier in suppliers %}
            {% include product-list.html supplier=supplier.uuid %}
          {% endfor %}
        </section>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
