---
layout: default
---
<section class="product-page">
  {% assign title = page.name %}
  <h2 class="post-title">{{ title }}</h2>
  <div class="post-content">
    {% assign product_type = site.products | where: "name", title | first %}
    {% if product_type %}
      <section>
      {% for product in product_type.products %}
        <div class="product-container">
          <div class="product-name">
            {{ product.name }}
          </div>
          {% if product.tds %}
            <div class="product-tds">
              <a href="/assets/products/{{ product.tds }}"
                target="_blank">TDS</a>
            </div>
          {% endif %}
          {% if product.sds %}
            <div class="product-sds">
              <a href="/assets/products/{{ product.sds }}"
                target="_blank">SDS</a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
      </section>
    {% endif %}
    {{ content }}
  </div>

</section>
