---
layout: default
---
<section class="product-page">
  {% assign title = page.name %}
  <h2 class="post-title">{{ title }}</h2>
  <div class="post-content">
    {% if content %}
      <p>{{ content }}</p>
    {% endif %}
    {% assign product_type = site.products | where: "name", title | first %}
    {% if product_type %}
      <section>
      {% for product in product_type.products %}
        <div class="product-container">
          <div class="product-name">
            {{ product.name }}
          </div>
          {% if product.tds %}
            {% assign tds = product.tds | prepend: "/assets/products/" %}
            <div class="product-tds">
              <a href="{{ tds | relative_url }}"
                target="_blank">TDS</a>
            </div>
          {% endif %}
          {% if product.sds %}
            {% assign sds = product.sds | prepend: "/assets/products/" %}
            <div class="product-sds">
              <a href="{{ sds | relative_url }}"
                target="_blank">SDS</a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
      </section>
    {% endif %}
  </div>

</section>
